<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Perfil</th>
      <th>Idade</th>
      <th>E-mail</th>
      <th>Ativo</th>
      <th>País</th>
      <th>Experiência</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pessoa of pessoas">
      <td>{{ pessoa.id }}</td>
      <td>{{ pessoa.nome }}</td>
      <td>{{ pessoa.perfil }}</td>
      <td>{{ pessoa.idade }}</td>
      <td>{{ pessoa.email }}</td>
      <td>{{ pessoa.ativo ? 'Sim' : 'Não' }}</td>
      <td>{{ pessoa.pais }}</td>
      <td>{{ pessoa.experiencia }}</td>
      <td>
        <a [routerLink]="['/editar', pessoa.id]" class="btn btn-primary">Editar</a>
        <button (click)="deletePessoa(pessoa.id)" class="btn btn-danger">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
